div
  div
    h2(class="text-headline") Cross Platform
    div(class="feature-row")
      div(class="feature")
        h3 Progressive web apps
        p(class="text-body") 最新のWebプラットフォーム機能を使用して、アプリのような体験を提供します。 高性能、オフライン、ゼロステップインストール

      div(class="feature")
        h3 Native
        p(class="text-body") Ionic フレームワーク、NativeScript、React Nativeの戦略でネイティブモバイルアプリを構築する。

      div(class="feature")
        h3 Desktop
        p(class="text-body") Mac向けに学んだのと同じAngularメソッドとネイティブOS APIへのアクセス機能を使用して、Mac、Windows、Linuxでデスクトップにインストールされたアプリケーションを作成します。

    h2(class="text-headline") Speed and Performance
    div(class="feature-row")
      div(class="feature")
        h3 Code generation
        p(class="text-body") Angularは、テンプレートを今日のJavaScript仮想マシン向けに高度に最適化されたコードに変換し、手書きコードのすべての利点をフレームワークの生産性で実現します。
      div(class="feature")
        h3 Universal
        p(class="text-body") node.js、.NET、PHPなどのサーバー上でアプリケーションの最初のビューを表示し、HTMLやCSSだけですぐにレンダリングできます。 また、SEOのために最適化するサイトの道を開く。
      div(class="feature")
        h3 Code splitting
        p(class="text-body") Angularのあるアプリケーションは新しいコンポーネントルーターですぐに読み込まれます。新しいコンポーネントルーターは自動コード分割機能を提供し、ユーザーは要求したビューをレンダリングするために必要なコードのみを読み込みます。

    h2(class="text-headline") Productivity
    div(class="feature-row")
      div(class="feature")
        h3 Templates
        p(class="text-body") シンプルで強力なテンプレート構文を使用して、UIビューをすばやく作成できます。
      div(class="feature")
        h3 Angular CLI
        p(class="text-body") コマンドラインツール：迅速なビルドを開始し、コンポーネントとテストを追加してすぐに展開します。
      div(class="feature")
        h3 IDEs
        p(class="text-body") 一般的なエディタやIDEで、インテリジェントなコード補完、瞬時のエラー、その他のフィードバックを得ることができます。

    h2(class="text-headline") Full Development Story
    div(class="feature-row")
      div(class="feature")
        h3 Testing
        p(class="text-body") Karmaの単体テストでは、保存するたびに物事が壊れているかどうかを知ることができます。 そして分度器はあなたのシナリオのテストをより速く安定した方法で実行させます。
      div(class="feature")
        h3 Animation
        p(class="text-body") Angularの直感的なAPIを使用して、わずかなコードで高性能で複雑な振り付けやアニメーションタイムラインを作成できます。
      div(class="feature")
        h3 Accessibility
        p(class="text-body") ARIA対応コンポーネント、開発者向けガイド、および組み込みa11yテストインフラストラクチャを使用して、アクセシブルなアプリケーションを作成します。

!= partial("/_includes/_cta-bar")
