include _includes/_util-fns

div(class="home-rows")
  // Group 1
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-1")
      div
        img(src="resources/images/home/responsive-framework.svg")
    div(class="text-container")
      div(class="text-block promo-1-desc l-pad-top-2")
        h3(class="text-headline") Develop Across All Platforms
        p(class="text-body").
          Angularを使用してアプリケーションを構築するための1つの方法を学び、コードと能力を再利用してあらゆる展開ターゲットのアプリケーションを構築します。 Web、モバイルWeb、ネイティブモバイル、ネイティブデスクトップ用

  // Group 2
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block")
        h3(class="text-headline") Speed & Performance
        p(class="text-body").
          今日のWebプラットフォームで可能な最大のスピードを達成し、Web Workersとサーバー側のレンダリングを使用してさらに進化させます。
        p(class="text-body").
          Angularはスケーラビリティを制御します。 RxJS、Immutable.jsまたは別のプッシュモデルでデータモデルを構築することで、膨大なデータ要件を満たすことができます。
    div(class="promo-img-container promo-2")
      div
        img(src="resources/images/home/speed-performance.svg")

  // Group 3
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-3")
      div
        img(src="resources/images/home/joyful-development.png")
    div(class="text-container")
      div(class="text-block promo-3-desc")
        h3(class="text-headline") Incredible Tooling
        p(class="text-body").
          シンプルで宣言的なテンプレートを使用して素早く機能を構築します。 独自のコンポーネントでテンプレート言語を拡張し、幅広い既存コンポーネントを使用します。 ほぼすべてのIDEとエディタを使用して、角に特化したヘルプとフィードバックをすぐに入手してください。 これらすべてが一緒になって、コードを動作させるのではなく、すばらしいアプリの構築に集中することができます。

  // Group 4
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block l-pad-top-2")
        h3(class="text-headline") Loved by Millions
        p(class="text-body").
          プロトタイプからグローバル展開まで、Angularは、Googleの最大のアプリケーションをサポートする生産性とスケーラブルなインフラストラクチャを提供します。
    div(class="promo-img-container promo-4")
      div
        img(src="resources/images/home/loved-by-millions.png")

  .cta-bar
    a(href="/docs/ts/latest/quickstart.html" class="button button-large button-shield md-raised " + "md-primary" md-button) Get Started

