block includes
  include ../_util-fns

:marked
  このチュートリアルの壮大な計画は、人材派遣機関が英雄の安定を管理するのに役立つアプリを構築することです。
  
  Tour of HeroesアプリはAngularの基本的な基本をカバーしています。あなたは基本的なアプリケーションを構築します
  本格的なデータ駆動型アプリでは、取得して表示することが期待される多くの機能があります。
  ヒーローのリスト、選択されたヒーローの詳細を編集したり、異なる
  ヒーローデータの再生

  組込みディレクティブを使用して要素を表示および隠し、ヒーローデータのリストを表示します。
  ヒーローの詳細を表示するコンポーネントを作成し、ヒーローの配列を表示します。
  読み取り専用データに対して一方向データバインディングを使用します。モデルを更新するために編集可能なフィールドを追加します
  双方向データバインディングを使用します。コンポーネントメソッドを、キーストロークやクリックなどのユーザーイベントにバインドします。
  ユーザーはマスターリストからヒーローを選択し、そのヒーローを詳細ビューで編集することができます。あなたは
  データをパイプでフォーマットします。ヒーローを組み立てるための共有サービスを作成します。
  また、ルーティングを使用してさまざまなビューとそのコンポーネントをナビゲートします。
  <!-- CF: Should this be a bullet list? -->

  開始するにはコアAngularを十分に学び、自信を持ってください
  Angularはあなたが必要とすることを何でもすることができます。
  あなたは入門レベルで多くの基礎をカバーし、多くのリンクを見つけるでしょう
  より深いページに
  
  このチュートリアルを終えたら、アプリは次のようになります<live-example name="toh-6"></live-example>.


.l-main-section
:marked
  ## The end game

  このチュートリアルでは、「ダッシュボード」から始めて、
  ビューと最も英雄的なヒーロー:

figure.image-display
  img(src='/resources/images/devguide/toh/heroes-dashboard-1.png' alt="Output of heroes dashboard")

:marked
  ダッシュボードの上にある2つのリンク（「ダッシュボード」と「ヒーローズ」）をクリックすると、
  このダッシュボードビューとヒーローズビューの間をナビゲートします。

  ダッシュボードのヒーロー「Magneta」をクリックすると、ルータは「Hero Details」ビューを開きます
  ヒーローの名前を変更することができます。

figure.image-display
  img(src='/resources/images/devguide/toh/hero-details-1.png' alt="Details of hero in app")

:marked
  「戻る」ボタンをクリックすると、ダッシュボードに戻ります。
  一番上のリンクはメインビューのいずれかに移動します。
  「Heroes」をクリックすると、アプリは「Heroes」マスターリストビューを表示します。
  
figure.image-display
  img(src='/resources/images/devguide/toh/heroes-list-2.png' alt="Output of heroes list app")
//  CF: The ability to add heroes isn't shown in the images or discussed in this page. Should that be added?

:marked
 別のヒーロー名をクリックすると、リストの下にある読み取り専用ミニディテールが新しい選択肢を反映します。

 [詳細を表示]ボタンをクリックすると、
 選択されたヒーローの編集可能な詳細。

 次の図は、すべてのナビゲーションオプションをキャプチャしています。
  
figure.image-display
  img(src='/resources/images/devguide/toh/nav-diagram.png' alt="View navigations")

:marked
  実際のアプリは次のとおりです:

figure.image-display
  img(src='/resources/images/devguide/toh/toh-anim.gif' alt="Tour of Heroes in Action")

.l-main-section
:marked
  ## Up next

  Tour of Heroesアプリを段階的に作成します。
  それぞれのステップは、おそらく
  多くのアプリケーションで出会った。すべてには理由があります。

  途中で、Angularの基本的な基本事項の多くに精通しています。
