block includes
  include ../_util-fns

figure
  img(src="/resources/images/devguide/intro/people.png" width="200px" height="152px" alt="Us" align="left" style="margin-left:-40px;margin-right:10px" )
:marked
  みんな違ったことを学ぶ。
  マニュアルをまっすぐに読む必要はありません。 ほとんどのページは独自のものです。
  Angularの新しいユーザーは、この人気のある学習経路に従うことを望むかもしれません。
  <br class="l-clear-left">

  1. [Setup](setup.html "Setup locally withe Quickstart seed") for local Angular development, if you haven't already done so.

  1. Take the [*Tour of Heroes* tutorial](../tutorial "Tour of Heroes").

    *Tour of Heroes* は、[setup](setup.html) からプロフェッショナルアプリケーションの本質的な特徴を示す完全な例にあなたをステップバイステップで連れて行きます：
    データバインディング、マスター/ディテール、サービス、依存関係注入、ナビゲーション、リモートデータアクセスなどの機能を提供します。
    
  1. <a id="architecture"></a>Read the [Architecture](architecture.html) overview for the big picture.

  1. [The Root Module](appmodule.html) introduces the `NgModule` class that tells Angular how to compile and run your application.

  1. [Displaying Data](displaying-data.html) shows how data binding puts component property values on screen.

  1. [User Input](user-input.html) explains how to respond to user-initiated DOM events.

  1. [Forms](forms.html) covers data entry and validation within the UI.

  1. [Dependency Injection](dependency-injection.html) is the way to build large, maintainable applications
  from small, single-purpose parts.

  1. [Template Syntax](template-syntax.html) is a comprehensive study of Angular template HTML.

  上記のセクションを読んだ後、このサイトの他のページを飛ばしてください。

.l-sub-section
  :marked
    ### Next Step

    コーディングを開始する準備ができたら、[チュートリアル](../tutorial "Tour of Heroes") を試してみてください。
    基本的な概念を最初に学びたい場合は、[Architecture](architecture.html "基本概念") のページをご覧ください。